{% extends "base.html" %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Story choices for {{ presentation.name }}</h1>
            {% if choices|length == 0 %}
                No choices found.
                <a href="{{ url_for('wizard_new_choice', pres_id=presentation.id) }}">Add a new story choice</a>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Choice</th>
                            <th>Decision Point #</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for c in choices %}
                        <tr>
                            <td>{{ c.name }}</td>
                            <td>{{ c.decision_point }}</td>
                            <td><a href="{{ url_for('wizard_delete_choice', pres_id=presentation.id, choice_id=c.id) }}" class="btn btn-danger">X</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <a href="{{ url_for('wizard_new_choice', pres_id=presentation.id) }}" class="btn btn-primary">Add story choice</a>
        </div>
    </div>
</div>
{% endblock %}
