{% extends "base.html" %}

{% block css_head %}
    <link href="/static/css/cyoa-part-2.css" rel="stylesheet">
{% endblock %}

{% block body_class %} class="wizard-bg" {% endblock %}

{% block content %}
<div class="container sign-in">
    <div class="col-md-12">
        <div id="login">
            <h1>Wizards Only!</h1>
            {% from "partials/_formhelpers.html" import render_field %}
            <form method="post" action="{{ url_for('sign_in') }}" 
                  id="login-form">
                {{ form.csrf_token }}
                {{ render_field(form.email, required=True) }}
                <br>
                {{ render_field(form.password, required=True) }}
                <div style="margin-top: 10px; text-align: right;">
                    <input class="btn btn-success" 
                           type="submit" value="Sign in" />
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted pull-right">
        Photo credit: <a href="https://www.flickr.com/photos/38446022@N00/6129242378/in/photolist-5X4jXi-4Mg7NA-4Mg7AA-akz9Ct-9Du31s-9Du2TY-9DqPba-4c4F5-9Dr9op-6k7TQB-9Du2so-9DqPd6-N864-akBXZ9-9DqPeg-akBYdJ-4kxpfE-9Du2qj-7AtrS4-4kxpcE-MzqvJ-9DtH5q-87e1ae-dPRekh-87hcAq-8x7H8y-4ktno8-8RggvW-jgoi9M-u1kYc-2ZFovG-9Du3gb-quxrFH-5tQo2-o62afP-byBjCd-9DtHjy-3enKiV-9Du2rC-nLKwhA-4c4uC-9Du1W5-akBY8h-9DqP5B-qEsPkV-czZBud-czZBms-5foqBE-8RcYcQ-cbJUF">Creative Commons license via Flickr</a>.
        </p>
    </div>
</footer>
{% endblock %}
