{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Voting Choices</h1>
            {% set current_decision = 0 %}
            {% for c in choices %}
                {% if c.decision_point > current_decision %}
                    {% set current_decision = c.decision_point %}
                    <hr>
                    <h2>Decision Point #{{ current_decision }}</h1>
                {% endif %}
                <a href="#" class="btn btn-lg btn-success">{{ c.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
